[user]
	email = joan.pont19@gmail.com
	name = Joan Pont
	password = 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
[safe]
	directory = .
	directory = /home/joan/Projects/ansible-config
	directory = /home/joan/Projects/ansible-config
